<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!--css do projeto-->
    <link rel="stylesheet" href="css/app.css" />
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <%- include('./meta/favicon.ejs') %>
    <title>Anuncios</title>
  </head>
  <body class="primary-bg-color">
    <!--NavBar do projeto RECCON-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 px-1 greem-bg-color">
      <div class="container h-navbar">
        <div class="images">
          <a class="navbar-brand" href="/"><img src="/assets/app_icon.png" alt="" /></a>
          <a class="navbar-brand" href="/"><img src="/assets/app_name.png" alt="" /></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown d-flex gap-2" id="sobre-nos">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Opções de conta </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/me/update">Alterar informações</a></li>
                <li><a class="dropdown-item" href="/me/my_ads">Meus anúncios</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/me/logoff">Sair</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <a href="/app/create_ad"><button type="button" class="btn btn-primary btn-lg secundary-bg-color">Publicar anúncio</button></a>
          </form>
        </div>
      </div>
    </nav>
    <%- include('./components/message.ejs') %>

      <!--botoes bairros-->

  
      <div class="container mt-5 fff-bg-color py-3 px-3 radius">
          <div class="conteudo">
            <div class="row">
              <div class="col-md-2 text-center">
                <p class="h2 align-self-center">Bairros</p>
              </div>
              <div class="col-md-10 text-center">
                <p class="h2 text-center">Anuncios</p>
              </div>
              
              <div class="row">
                <div class="col-md-2 d-flex flex-column gap-2 overflow justify-content-between">
                  <% for(let i = 0; i < address.length; i++) { %>
                    <button data-sqlid="<%= address[i].dataValues.id %>" class="button-api btn btn-primary btn-sm secundary-bg-color"><%= address[i].dataValues.name %></button>
                    <% } %>
                </div>

               <!--cards de anuncios-->
        <div class="col-md-10 overflow">
          <div id="bairros-body" class="row row-cols-1 row-cols-md-4 px-5">
            <!-- ? Card dinâmico -->
            <% for(let i=0; i < ads.length; i++) { %>
            <div class="col d-flex justify-content-center py-2">
              <div class="card h-200">
                <img src="<%=ads[i].dataValues.image_path %>" width="280" class="card-img-top" alt="..." />
                <div class="card-body d-flex flex-column justify-content-between">
                  <h5 class="card-title"><%=ads[i].dataValues.title %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Coleta em: <%=ads[i].dataValues.address.dataValues.name%></h6>
                  <p class="card-text"><%=ads[i].dataValues.description %></p>
                  <div class="contato">
                    <a href="https://api.whatsapp.com/send?phone=<%=ads[i].dataValues.user.dataValues.phone %>&text=Olá! Estou%20interessado%20na%20sua%20doação%E2%80%9D" target="_blank"
                      ><button type="button" id="btn" class="btn btn-primary btn-sm secundary-bg-color"><i class="bi bi-whatsapp"></i>Contatar doador</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <!--Fim do card-->
    
                        
    
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
 

            

      <!-- API JS -->
     <script src="/js/fetchApi.js"></script>
      <!--Footer do projeto-->
      <%- include('./components/footer.ejs') %>



    <!--Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
</body>
</html>