<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!--css do projeto-->
    <link rel="stylesheet" href="/css/create_ad.css" />
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <%- include('./meta/favicon.ejs') %>
    <title>Doação</title>
  </head>
  <body class="primary-bg-color">
    <!--NavBar do projeto RECCON-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 px-1 greem-bg-color">
      <div class="container h-navbar">
        <div class="images"><%- include('./components/brand.ejs') %></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%- include('./components/dropdown-account.ejs') %>
          <form class="d-flex">
            <a href="/app"> <%- include('./components/btn-returnapp.ejs') %> </a>
          </form>
        </div>
      </div>
    </nav>
    <%- include('./components/message.ejs') %>

    <!--Formulario de Cadastro-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="fff-bg-color">
            <form action="/forms/create_ad" class="d-flex flex-column align-items-center formulario text-center radius" method="post" enctype="multipart/form-data">
              <h2>Oque você está doando?</h2>
              <div class="form-group py-4 px-4">
                <input type="text" name="title" id="title" placeholder="Oque você esta doando" required />
                <textarea name="description" id="description" cols="30" rows="5" placeholder="Descreva seu anuncio em detalhes (Max 200 Caracteres)" required></textarea>
                <div class="select">
                  <select name="address" id="address" required>
                    <option value="" disabled selected="selected">Selecione o Bairro de Coleta</option>
                    <% for(let i = 0; i < address.length; i++) { %>
                    <option value="<%=address[i].dataValues.id%>"><%= address[i].dataValues.name %></option>
                    <% } %>
                  </select>

                  <div class="w-100 text-end fotos">
                    <button class="btn" onclick="document.getElementById('file').click();">
                      <img src="/assets/icon.svg" />
                      <img src="/assets/text.svg" />
                    </button>
                    <p style="position: relative" id="file-warning">Nenhum arquivo selecionado</p>
                    <input style="display: none" type="file" id="file" name="file" accept=".jpg,.png,.jpeg,.webp, image/webp, image/jpeg, image/png" />
                  </div>
                </div>
                <div class="btn-enviar align-self-start">
                  <input type="submit" id="btn" class="btn btn-primary btn-sm secundary-bg-color" value="Enviar anuncio" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--Footer do projeto-->
    <%- include('./components/footer.ejs') %>

    <script src="/js/checkFiles.js"></script>
    <!--Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
