<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--devcon-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css" />

    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!--css do projeto-->
    <link rel="stylesheet" href="css/index.css" />
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <%- include('./meta/favicon.ejs') %>
    <title>RECCON</title>
  </head>
  <body class="primary-bg-color">
    <!--NavBar do projeto RECCON-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 px-1 greem-bg-color">
      <div class="container h-navbar">
        <div class="images">
          <%- include('./components/brand.ejs') %>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%-include('./components/dropdown-about.ejs') %>
          <form class="d-flex">
            <% if (!logged) { %>
              <%- include('./components/btn-login.ejs') %>
            <% } else { %>
              <%- include('./components/btn-goapp.ejs') %>
            <% } %>
          </form>
        </div>
      </div>
    </nav>
    <%- include('./components/message.ejs') %>

      <!--Conteudo principal-->
      
     <div class="container">
       <div class="error">
         <div class="row">
           <div class="col-md-6 d-flex align-items-center img justify-content-center">
              <img src="/assets/icon.svg" alt="">
           </div>
           <div class="col-md-6 d-flex align-items-center justify-content-center">
             <div class="text">
              <h3>Opa,essa página não existe ou
                não está disponível no momento</h3>
             </div>
         </div>
         </div>
       </div>

     </div>
      
      <!--Footer do projeto-->
    <footer id="footer" class="fixed-bottom mt-5 greem-bg-color">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between py-3">
              <div class="copy d-flex">
                <p>Todos os direitos reservados &copy;</p>
              </div>
              <div class="links fa-3 text-center copy">
                <a href="https://github.com/swshadows/reccon" target="_blank"><i class="devicon-github-original"></i></a>
                <a href="https://www.figma.com/file/BfEmE4YiZ0DSRzPSP4g5Kw/reccon?node-id=0%3A1" target="_blank"><i class="devicon-figma-plain"></i></a>
              </div>
              <div class="copy text-end">
                <p>RECCON 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
</body>
</html>