<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
    <!--css do projeto-->
    <link rel="stylesheet" href="/css/forms.css" type="text/css">
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <%- include('./meta/favicon.ejs') %>
    <title>Login</title>
</head>
<body class="primary-bg-color h-100">

    <!--NavBar do projeto RECCON-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 px-1 greem-bg-color">
      <div class="container h-navbar">
        <div class="images d-flex justify-content-center align-items-center">
          <a class="navbar-brand" href="/"><img src="/assets/app_icon.png" alt="" /></a>
          <div class="image-mobile">
            <a class="navbar-brand" href="/"><img src="/assets/app_name.png" alt="" /></a>
          </div>
        </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <%-include('./components/dropdown-about')%>
            <form class="d-flex">
              <a href="/"><button type="button" class="btn btn-primary btn-lg secundary-bg-color">Voltar ao Inicio</button></a>
            </form>
          </div>
        </div>
      </nav>

      <div id="alerts">
        <%- include('./components/message.ejs') %>
      </div>

      <div class="modal modall fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content modal-contentt greem-bg-color">
            <div class="modal-header">
              <img style="width: 50px;" src="/assets/app_icon.png" alt="">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ul class="list-group list-group-flush itms-modal">
                <li class="list-group-item"><a href="/static/techs">Tecnologias utilizadas</a></li>
                <li class="list-group-item"><a href="#">A equipe</a></li>
                <li class="list-group-item"><a href="#">FAQ</a></li>
                <li class="list-group-item"><a href="#">Pesquisas e entrevistas</a></li>
              </ul>
            </div>
            <div class="modal-footer">
               <a href="/"><button type="button" class="btn btn-primary btn-lg secundary-bg-color">Voltar ao Inicio</button></a>
            </div>
          </div>
        </div>
      </div>

      <!--Formulario de Cadastro-->
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                <div class="fff-bg-color">
                    <form method="POST" action="/forms/register" class="d-flex justify-content-center formulario radius">
                    <div class="form-group py-4 px-4">
                      <!--input do formulario-->
                        <input type="text" name="name" id="name" placeholder="Digite seu Nome Completo" pattern="[A-Za-z]{1,50}" title="Maximo de 50 caracteres, somente letras" required></input>
                        <input type="email" name="email" id="email" placeholder="Digite seu Email" pattern="{1,50}" title="Máximo de 50 caracteres" required>
                        <input type="password" name="password" id="password" placeholder="Digite sua Senha (Maior que 8 digitos)" title="8 caracteres ou mais" pattern=".{8,}" required>
                        <input type="Password" name="password_confirm" id="password_confirm" placeholder="Confirme sua Senha" title="8 caracteres ou mais" pattern=".{8,}" required>
                        <input type="tel" name="phone" id="phone" placeholder="Digite seu Telefone (XX)XXXXXXXXX" title="Exatos 11 números (DDD + Número)" pattern="[0-9]{11}" required>
                        <div class="eye-pass ">
                            <input type="checkbox" id="btn" class="btn btn-primary btn-sm secundary-bg-color">
                            <label for="mostrarSenha"> Mostrar Senha</label>
                        </div>

                        <select name="address" id="Bairro" required>
                            <option value="" disabled selected="selected"> Selecione Seu Bairro</option>
                            <% for(let i = 0; i < address.length; i++) { %>
                              <option value=<%=address[i].dataValues.id%>><%= address[i].dataValues.name %></option>
                            <% } %>
                        </select>

                        <input type="submit" class="btn btn-primary btn-lg secundary-bg-color" value="Criar uma conta">
                    </div>
                    </form>
                </div>
              </div>

              <!--Fazer Login-->
              <div style="margin-bottom: 100px;" class="col-md-6">
                <div class="fff-bg-color">
                    <form method="post" action="/forms/login" class="d-flex justify-content-center formulario radius">
                    <div class="form-group py-4 px-4">
                        <input type="email" name="email" id="email" placeholder="Digite Seu Email" required>
                        <input type="password" name="password" id="passwordlogin" placeholder="Digite sua Senha" required>
                        <div class="eye-pass ">
                            <input type="checkbox" id="btnLogin" class="btn btn-primary btn-sm secundary-bg-color">
                            <label for="mostrarSenha"> Mostrar Senha</label>
                        </div>

                        <input type="submit" class="btn btn-primary btn-lg secundary-bg-color" value="Fazer login">
                    </div>
                    </form>
                </div>
              </div>
          </div>
      </div>

      <!--Footer do projeto-->
      <%- include('./components/footer.ejs') %>

      <!--script do mostrar senha-->
      <script src="/js/mostrarSenhaForm.js"></script>
      <script src="/js/mostrarSenhaLogin.js"></script>
    <!--Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>