<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!--css do projeto-->
    <link rel="stylesheet" href="/css/my_ads.css" />
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <%- include('./meta/favicon.ejs') %>
    <title>Anuncios</title>
  </head>
  <body class="primary-bg-color">
    <!--NavBar do projeto RECCON-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 px-1 greem-bg-color">
      <div class="container img-left">
        <div class="images d-flex justify-content-center align-items-center">
          <a class="navbar-brand" href="/"><img src="/assets/app_icon.png" alt="" /></a>
          <div class="image-mobile">
            <a class="navbar-brand" href="/"><img src="/assets/app_name.png" alt="" /></a>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%- include('./components/dropdown-account.ejs') %>
          <form class="d-flex"><%- include('./components/btn-returnapp') %></form>
        </div>
      </div>
    </nav>

    
    <div class="modal modall fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content modal-contentt greem-bg-color">
          <div class="modal-header">
            <img style="width: 50px;" src="/assets/app_icon.png" alt="">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="list-group list-group-flush itms-modal">
              <li class="list-group-item"><a href="/me/update">Alterar informações</a></li>
              <li class="list-group-item"><a href="/me/my_ads">Meus anúncios</a></li>
              <li class="list-group-item"><a href="/me/logoff">Sair</a></li>
            </ul>
          </div>
          <div class="modal-footer">
            <%- include('./components/btn-returnapp.ejs') %>
          </div>
        </div>
      </div>
    </div>
    <%- include('./components/message.ejs') %>

    <!--botoes bairros-->
    <div class="mt-5 container fff-bg-color py-3 px-3 radius">
      <div class="row overflow">
        <!--cards de anuncios-->
        <div class="col-md-12">
          <h1 class="text-center">Meus Anuncios</h1>
          <div class="row row-cols-1 row-cols-md-4 px-5 overflow-auto">
            <!--Inicio do card-->
            <% if (ads.length > 0){ for (let i = 0; i < ads.length; i++) { %>
            <div class="col d-flex justify-content-center py-2">
              <div class="card h-200">
                <img src="<%=ads[i].dataValues.image_path%>" class="card-img-top" alt="..." />
                <div class="card-body d-flex flex-column justify-content-between">
                  <h5 class="card-title"><%= ads[i].dataValues.title %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Coleta em: <%=ads[i].dataValues.address.dataValues.name%></h6>
                  <p class="card-text"><%= ads[i].dataValues.description %></p>
                  <div class="editar d-flex justify-content-between">
                    <button type="submit" data-sqlid="<%=ads[i].dataValues.id%>" class="btn-del btn btn-primary btn-sm secundary-bg-color" data-bs-toggle="modal" data-bs-target="#exampleModall"><i class="bi bi-trash"></i> Excluir anuncio</button>
                    <form action="/me/my_ads/update" method="get">
                      <input type="hidden" name="id" value="<%=ads[i].dataValues.id%>" />
                      <button type="submit" id="btn" class="btn btn-primary btn-sm secundary-bg-color"><i class="bi bi-pencil-square"></i> Editar anuncio</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <% }} else { %>
            <p>Você não tem nenhum anuncio</p>
            <% } %>
            <!--Fim do card-->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">AVISO</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Deseja mesmo excluir esse anúncio?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <form id="form_del" action="/me/my_ads/delete?_method=delete" method="post">
              <input type="submit" class="btn btn-primary secundary-bg-color" name="delete" value="Excluir" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--Footer do projeto-->
    <%- include('./components/footer.ejs') %>

    <!--Bootstrap Javascript-->
    <script src="/js/modalForm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
