<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/info.css" />
    <%- include('../meta/favicon.ejs') %>
    <title>Pesquisas e documentos</title>
  </head>
  <body class="primary-bg-color">
    <!--NavBar do projeto RECCON-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 px-1 greem-bg-color">
      <div class="container h-navbar">
        <div class="images">
          <a class="navbar-brand" href="/"><img src="/assets/app_icon.png" alt="" /></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%-include('../components/dropdown-about.ejs') %>
          <form class="d-flex"><%- include('../components/btn-returnindex.ejs') %></form>
        </div>
      </div>
    </nav>

    <%- include('../components/modal-index.ejs') %>

    <div style="margin-bottom: 200px" class="container mt-5">
      <ol class="mt-5 list-group list-group-flush">
        <li class="rounded d-flex flex-column align-items-start list-group-item">
          <a href="#metodologias">Referencial e pesquisa</a>
          <small>Nossa metodologia de pesquisa e referências sobre reciclagem</small>
        </li>
        <li class="rounded d-flex flex-column align-items-start list-group-item">
          <a href="#conclusao">Conclusão e resultados</a>
          <small>A conclusão do nosso trabalho, com resultados e gráficos para ilustrar os mesmos</small>
        </li>
        <li class="rounded d-flex flex-column align-items-start list-group-item">
          <a href="#anexos">Anexos e mídia referência</a>
          <small>Anexos relacionados ao nosso trabalho de pesquisa e projeto</small>
        </li>
        <li class="rounded d-flex flex-column align-items-start list-group-item">
          <a href="#relatorio">Relatório oficial do projeto</a>
          <small>Nosso documento oficial do relatório do projeto</small>
        </li>
      </ol>

      <div class="mt-5" id="metodologias">
        <h3 class="mb-4">Referencial e pesquisa</h3>
        <p class="text-justify">
          O referencial teórico que baseou nossa execução de atividade foi estruturado em três principais tópicos; sustentabilidade ambiental, preservação e reciclagem. Tratando o primeiro tópico, sobre sustentabilidade ambiental, refere-se à preservação do meio ambiente de maneira que a população
          encontre o equilíbrio entre os mantimentos de suas necessidades e o uso moderado dos recursos naturais oferecidos sem prejudicar a natureza.
        </p>
        <p class="text-justify">
          Quando o foco se direciona para os problemas socioambientais podemos observar a situação hodierna que indica que passamos por muitos problemas ambientais, dentre eles se destacam: a poluição do ar, o desmatamento, a extinção de espécies, a degradação do solo e as ilhas de calor.
        </p>
        <p class="text-justify">Os cinco problemas apontados logo acima foram escolhidos conforme os problemas ambientais enfrentados em nosso dia a dia, cada um deles estão ligados com problemas de resíduos, poluição e desmatamento.</p>
        <p class="text-justify">
          A poluição do ar se dá conforme o desmatamento e as queimadas que acontecem dia após dia e que já traz outro que é a extinção de espécies que são retiradas de seus habitantes naturais que são devastadas pela expulsão dos mesmos e dos resíduos jogados de qualquer maneira.
        </p>
        <p class="text-justify">
          Sobre preservação do meio ambiente é fundamental na nossa luta para o planeta mais saudável, então várias medidas devem ser tomadas e entre elas podemos citar: racionar o uso da água, fazer o descarte correto do lixo, reutilização de itens de plástico em geral, comprar apenas o necessário
          e até mesmo reduzir o consumo de energia elétrica com intenção de reduzir a produção e assim consumindo menos combustíveis fósseis.
        </p>
        <p class="text-justify">
          A reciclagem é algo necessário para o dia a dia da sociedade principalmente pensando nas gerações futuras e não somente é bom para a sociedade mas também para a fauna e flora mais saudáveis, visto que fazendo apenas o básico como fazer o descarte certo do lixo, reduzir o uso de
          combustíveis fósseis e fazer uma certa reeducação consumista em relação a alguns produtos ou objetos, já vamos estar ajudando a natureza e contribuindo com o nosso planeta
        </p>
      </div>
      <div class="mt-5" id="conclusao">
        <h3 class="mb-4">Conclusão e resultados</h3>
        <p class="text-justify">Com o desenvolvimento da aplicação proposta foi possível estabelecer uma comunicação entre os usuário que dispõe resíduo com usuários que tem potencial interesse no material disponibilizado.</p>
        <p class="text-justify">
          Essa comunicação está disponível apenas após um breve cadastro no sistema de ambos os interessados. Uma constante dedicação foi aplicada no desenvolvimento da aplicação para maximizar tanto quanto possível a experiência de cadastro, a navegação na aplicação e na exibição dos itens
          disponíveis.
        </p>
        <h5>Listamos abaixo os resultados das nossas enquetes das pesquisas realizadas</h5>
        <div class="flex justify-content-evenly">
          <img class="img-wrap" src="/research/graph_7.png" />
          <img class="img-wrap" src="/research/graph_8.png" />
          <img class="img-wrap" src="/research/graph_9.png" />
          <img class="img-wrap" src="/research/graph_10.png" />
        </div>
      </div>
      <div class="mt-5" id="anexos">
        <h3 class="mb-4">Anexos e mídia referência</h3>
        <div class="text-center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/7k9mWo0vVN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br class="mb-3" />
          <iframe width="560" height="315" src="https://www.youtube.com/embed/OQ5jpiKzNqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/D73BR9WRmmE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wgPn3kZZtIY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/H5rbcjYYTXA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="mt-5" id="relatorio">
        <h3 class="mb-4">Relatório oficial do projeto</h3>
        <div class="text-center">
          <a href="/docs/relatorio_reccon.pdf" download>
            <button class="btn btn-primary secundary-bg-color">Clique aqui para fazer o download do relatório oficial do projeto Reccon</button>
          </a>
        </div>
      </div>
    </div>

    <!--Footer do projeto-->
    <%- include('../components/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
