<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/index.css" />
    <%- include('../meta/favicon.ejs') %>
    <title>Tecnologias utilizadas</title>
  </head>
  <body class="primary-bg-color">
    <!--NavBar do projeto RECCON-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 px-1 greem-bg-color">
      <div class="container h-navbar">
        <div class="images">
          <a class="navbar-brand" href="/"><img src="/assets/app_icon.png" alt="" /></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%-include('../components/dropdown-about.ejs') %>
          <form class="d-flex"><%- include('../components/btn-returnindex.ejs') %></form>
        </div>
      </div>
    </nav>

    <%- include('../components/modal-index.ejs') %>

    <div class="container mt-5">
      <div class="row mt-5"><h1 class="text-center mb-5">Frontend</h1></div>
      <div class="row">
        <div class="col">
          <div class="card radius">
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <p class="card-text">Utilizado como biblioteca CSS e JS para estilizar e dinamizar a construção das páginas.</p>
              <a target="_blank" href="https://getbootstrap.com/" class="btn btn-primary secundary-bg-color">Visitar site oficial</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row"><h1 class="text-center my-5">Backend</h1></div>
      <div style="margin-bottom: 200px" class="row justify-content-center">
        <div class="col">
          <div class="card radius">
            <div class="card-body">
              <h5 class="card-title">Node.js</h5>
              <p class="card-text">Utilizado para construir a infraestrutura do servidor, distribuição de páginas e etc .</p>
              <a target="_blank" href="https://nodejs.org/pt-br/" class="btn btn-primary secundary-bg-color">Visitar site oficial</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card radius">
            <div class="card-body">
              <h5 class="card-title">NPM</h5>
              <p class="card-text">Utilizado para instalar pacotes e módulos na aplicação, para desenvolvimento ágil de funcionalidades.</p>
              <a target="_blank" href="https://www.npmjs.com/" class="btn btn-primary secundary-bg-color">Visitar site oficial</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card radius">
            <div class="card-body">
              <h5 class="card-title">MariaDB</h5>
              <p class="card-text">Utilizado como banco de dados SQL, para armazenar e distribuir informações.</p>
              <a target="_blank" href="https://mariadb.org/" class="btn btn-primary secundary-bg-color">Visitar site oficial</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Footer do projeto-->
    <%- include('../components/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
